<template>
  <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>First name</th>
              <th>Last Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="record in records">
              <td>{{record.firstName}}</td>
              <td>{{record.lastName}}</td>
              <td>{{record.email}}</td>
            </tr>
          </tbody>
        </table>
      </div>
</template>

<script>
export default {
    name: 'List',
    firebase: {
        records: doggydogRef
    },
    data () {
        return {
            newRecord: {
                firstName: '',
                lastName: '',
                email: ''
            }
        }
    }

}
</script>

<style>

</style>
