<template v-if="this.user == null">
  <div class='app'>
    <button v-on:click="login">Log In</button>
  </div>
</template>


<template v-if="this.user == !null">
  <div class='app'>

    <header>
      <div class='wrapper'>
        <h1>Add item</h1>

        <span class="logItOut">
          <button v-on:click="logout">Log Out</button>
  <button v-on:click="login">Log In</button>

        </span>

      </div>
    </header>
    <div class='container'>

      <section class='add-item'>
        <form v-on:submit.prevent="addItem">
          <input type="text" name="firstName" placeholder="What's your name?" v-model="newItem.firstName">
          <input type="text" name="lastName" placeholder="What's your last name?" v-model="newItem.lastName">
          <input type="text" name="email" placeholder="and your email?" v-model="newItem.email">
          <button>Add Item</button>
        </form>
      </section>
      <section class='display-item'>
        <div class='wrapper'>
          <ul>
            <li v-for="item in items" v-bind:key="item.id">
              <h3>{{item.firstName}}</h3>
              <p>{{item.lastName}}</p>
              <p>{{item.email}}</p>
              <button v-on:click="removeItem(item)">Remove Item</button>
            </li>
          </ul>

        </div>
      </section>
    </div>
  </div>
</template>
<script>
import { db, auth, provider } from './firebase.js';

let itemsRef = db.ref('items')

export default {
  name: 'app',
  firebase: {
    items: itemsRef
  },

  data() {
    return {
      newItem: {
        firstName: '',
        lastName: '',
        email: ''
      },
      user: null
    }
  },

  methods: {

    addItem: function() {
      itemsRef.push(this.newItem);
      this.newItem.firstName = '';
      this.newItem.lastName = '';
      this.newItem.email = '';
    },

    removeItem: function(item) {
      itemsRef.child(item['.key']).remove()
        .success('item removed successfully')
    },

    login: function() {
      auth.signInWithRedirect(provider)
        .then((result) => {
          this.user = result.user;
        });
    },
    logout: function() {
      auth.signOut()
        .then(() => {
          this.user = null
        });
    }
  },


}
</script>
<style>
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

header {
  color: #fff;
  background-color: #103D5D;
  padding: 33px 0 25px 15px;
}

header h1 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.3px;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.logItOut {
  float: right;
  margin-right: 15px;
}



header i {
  vertical-align: middle;
  margin-left: 12px;
}

.container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.add-item {
  border-radius: 2px;
  border-top: 3px solid #103D5D;
  margin-right: 50px;
  background-color: rgb(237, 237, 237);
  padding: 60px 18px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12), 0 1px 8px 0 rgba(0, 0, 0, .2);
  margin-bottom: 34px;
  width: 45%;
  margin-right: auto;
  max-height: 300px;
}

.display-item {
  width: 65%;
  margin-left: 50px;
}

.display-item button {
  margin-top: 20px;
  margin-left: auto;
  display: block;
}

.add-item form {
  width: 100%;
  overflow: hidden;
}

input {
  font-size: 22px;
  color: #000;
  padding: 18px 22px;
  font-size: 16px;
  margin-bottom: 17px;
  border: 0;
  display: block;
  width: 100%;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

li {
  width: calc(50% + 100px);
  list-style-type: none;
  margin-right: 50px;
  background-color: rgb(237, 237, 237);
  color: #000;
  margin-bottom: 30px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12), 0 1px 8px 0 rgba(0, 0, 0, .2);
}

h2 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

li h3 {
  background-color: #103D5D;
  margin: 0;
  color: #fff;
  font-weight: 300;
  padding: 15px;
}

li p {
  padding: 15px;
}

form button {
  width: 100%;
  margin-top: 10px;
}

button {
  border-radius: 2px;
  min-width: 88px;
  background-color: #FA6900;
  cursor: pointer;
  border: 0;
  min-width: 120px;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  padding: 10px 6px;
}
</style>